<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response Time Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>
<body>
    <div style="width: 80%; margin: 0 auto;">
        <canvas id="responseTimeChart"></canvas>
    </div>

    <div>
        <canvas id="myChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='chart-script.js') }}"></script>
</body>
</html>
